<%- include ('header') %>

<% if(errors && Object.keys(errors).length > 0 ) { %>
    <div class="alert alert-danger">
        <ul>
            <% for(let i in errors) { %>
                <li><%=errors[i]%></li>
            <% } %>
        </ul>
    </div>
<% } %>

<form action="/courses/createCourse" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" />
    </div>
    
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" rows="5"></textarea>
    </div>
    
    <div class="form-group">
        <label for="photo">Photo URL</label>
        <input type="text" class="form-control" name="photo" />
    </div>
    
    <div class="form-group">
        <label for="duration">Duration (Hrs)</label>
        <input type="number" class="form-control" name="duration" />
    </div>
    
    <button class="btn btn-primary">Add</button>
</form>

<%- include ('footer') %>